* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #2fd8ff;
  --cor-secundaria: ;
  --cor-destaque: #0b111f;
  --cor-fundo: #05060b;
  --aviso-btncor: #27d8ff;
}

body {
  background: radial-gradient(circle at top, #1c2c5f 0%, #05060b 60%) no-repeat fixed;
  color: white;
  font-family: "Orbitron", sans-serif;
}

header {
 width: 100%;
  background-color: #0b111f;
  min-height: px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid var(--cor-primaria);
}

#titulo {
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: relative;
  display: inline-block;

  color: #1e293b;

  -webkit-text-stroke: 1px var(--cor-primaria);

  text-shadow:
    3px 0px 0px rgba(0, 255, 255, 0.4),
    -3px 0px 0px rgba(255, 0, 127, 0.3),
    0px 0px 10px rgba(47, 216, 255, 0.6);
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
  font-size: 23px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: var(--aviso-btncor);
}

main {
  background: radial-gradient(circle at top, #1c2c5f 0%, #05060b 60%);
}


/*
==============
    CONTAINER
==============
*/

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}


/*
=====================
    RESPONSIVIDADE
=====================
*/


/* TABLET */
@media (max-width: 900px) {

  header {
    padding: 20px; /* Diminuído para dar mais espaço nas laterais */
    gap: 15px;     /* Diminuído o espaço entre o logo e o menu */
  }

  #titulo {
    font-size: 24px;       /* Letras do título menores para caber na linha */
    letter-spacing: 3px;   /* Letras um pouco mais juntas */
    white-space: nowrap;
  }

  nav ul {
    gap: 20px;       /* Espaço menor entre um botão e outro */
    font-size: 16px; /* Letras do menu um pouco menores */
  }

  .box {
    width: 80%;
    padding: 35px;
  }

}


/* CELULAR */
@media (max-width: 600px) {

  header {
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;
    gap: 30px;
  }


  #titulo {
font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  white-space: nowrap;
  }


  nav ul {
    gap: 20px;
    font-size: 15px;
  }


  .box {
    width: 90%;
    padding: 25px;
  }


  .box h2 {
    font-size: 20px;
  }


  .box p {
    font-size: 14px;
    letter-spacing: 1px;
  }


  button {
    width: 100%;
  }

}